html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.syne-font {
    font-family: 'Syne', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.syne-hollow {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.urbanist-font {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.theory-text-2 {
    padding-top: 10px;
    font-size:  500%;
    width: auto;
    text-align: center;
    margin-bottom: 0;
    margin-top: -30px;
    color: white;
}

.theory-text-small {
    font-size: 240%;
    text-align: center;
    padding-top: 5%;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.theory-text-1 {
    font-size: 90px;
    width: 300;
    text-align: center;

    margin-bottom: 0;
    margin-top: 0;
}

.underline {
    text-decoration: underline solid white 1%;
    text-underline-offset: 10px;
}

.container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.scroll-wrapper {
    height: 100%;
    width: 100%;
    align-content: center;
    gap: 50px;
}

.text-img {
    display: flex;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

.text-text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around; 
    width: auto; 
}

h1 {
    text-align: center;
}

.text-left  {
    float: left;
    display: space-between;
    max-width: 80%;
    flex: 50%;
    margin: auto;
}

.text-right {
    float: right;
    display: space-between;
    max-width: 80%;
    flex: 50%;
    margin: auto;
}

.img-right {
    max-width: 30%;
    flex: 50%;
    margin-right: 10%
}

.img-left {
    max-width: 30%;
    flex: 50%;
    margin-left: 10%
}

img {
    width: 50%;
    height: 50%;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .text-img {
        flex-direction: column;
    }
    .img {
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0 0;
    }
}

.paragraph {
    padding: 20px;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.img-sovereignty {
    height: 100%;
    width: 100%;
    background: 
    #25368cd8
        url('imgs/img-sovereignty.png') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}

.img-regalia {
    height: 100%;
    width: 100%;
    background: 
    #151515d8
        url('imgs/img-regalia.png') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}


#meaning-gradient {
    background: linear-gradient(to bottom, #25368cd8, #8C0E0F);
}

#ti-so {
    background: linear-gradient(to bottom,#8C0E0F, #041B29);
}

#in-ex {
    background: linear-gradient(to bottom,#041B29, #8C0E0F);
}

#pop-sov {
    background: linear-gradient(to bottom, #8C0E0F, #041B29);
}

#do-imp {
    background: linear-gradient(to bottom, #041B29, #BDAE7B);
}

#do {
    background: linear-gradient(to bottom, #BDAE7B, #132C3C);
}

#imp {
    background: linear-gradient(to bottom, #132C3C, #E09F42);
}

#char {
    background: linear-gradient(to bottom, #E09F42, #5A090A);
}

#immunity {
    background: linear-gradient(to bottom, #5A090A, #6C1B0E);
}

#j-i {
    background: linear-gradient(to bottom, #6C1B0E, #E99C32);
}

#waives {
    background: linear-gradient(to bottom, #E99C32, #6C1B0E);
}

#implications {
    background: linear-gradient(to bottom, #6C1B0E, black);
}