html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.syne-font {
    font-family: 'Syne', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.syne-hollow {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.urbanist-font {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.theory-1 {
    object-position: center;
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #000000, #041B29);

}

.heading-th {
    height: 100%;
    width: 100%;
    display: grid;

}

.theory-text-2 {
    font-size:  100px;
    margin-bottom: 0;
    margin-top: -30px;
    color: white;
    
    text-align: center;
    align-self: first baseline;
    
}

.theory-text-1 {
    font-size: 100px;
    text-align: center;
    align-self: last baseline;
    
}

.sub-th {
    font-size: 40px;
    color: white;
    height: 100%;
    width: 100%;
    background-color: #041B29; 
    
    display: grid; 
    grid-template-areas: 
    'name name name'
    'detail detail detail'
    'img img img';

}

.force-theo {
    grid-area: name;
    display: grid;
    grid-template-areas:
    'text text text';

    align-items: center;
    text-align: center;

    grid-template-columns: 2fr 1fr 2fr;



}

.tft1 {
    text-align: right;
    font-size: 100px;
}

.tft2 {
    margin: 0;
    font-size: 100px;
}

.tft3 {
    text-align: left;
    font-size: 100px;
}


.details {
    grid-area: detail;

    display: grid;
    grid-template-areas: 
    'text text';
}

.details p {
    text-align: justify;
    margin: 5%;
    font-size: 30px;
}


.img-battle {
    grid-area: img;
    width: 1080;
    height: 100%;
    background-image: url(imgs/img-battle.png);

}